@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
/* font-family: 'Lobster', cursive;
font-family: 'Source Sans Pro', sans-serif; */
:root {
	--forn_text: "Source Sans Pro", sans-serif;
}
.new.dropdown {
	background-color: #ffff;
	width: 80%;
	height: 40%;
	margin-left: 5rem;
	font-size: 15px;
}
.dropdown-item {
	transition: all 0.2s linear;
}
.dropdown-item:hover {
	transition: all 0.2s linear;
	color: rgb(36, 196, 109);
	transform: scale(1.1);
}
.head.heading {
	font-family: var(--forn_text);
	font-weight: 600;
}
.category__text {
	font-family: var(--forn_text);
	font-weight: 400;
}
.dropdown-item {
	font-family: var(--forn_text);
	font-weight: 400;
}
.main__heading__textarea {
	font-family: var(--forn_text);
	font-weight: 400;
}
.button {
	font-family: var(--forn_text);
	font-weight: 400;
}

b,
strong {
	font-family: var(--forn_text);
	font-weight: 500;
}
.show-comment {
	font-family: var(--forn_text);
	font-weight: 500;
}
.comment__text {
	font-family: var(--forn_text);
	font-weight: 400;
}

.details-data {
	font-family: var(--forn_text);
	font-weight: 500;
}
.profile-details h5 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 0px;
}
@media screen and (max-width: 1365px) {
	.socical {
		transition: all 0.2s linear;
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
	}
	.heading {
		width: 56%;
	}
}
@media screen and (max-width: 1280px) {
	.socical {
		transition: all 0.2s linear;
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		padding: 5rem 2rem 0rem 2rem;
	}
	.socical .box {
		padding: 0rem 0rem 0rem 1rem;
	}
	.socical .box__image {
		width: 3rem;
		height: 3rem;
	}
	.heading {
		font-size: 2.5rem;
		width: 59%;
		height: 45px;
		top: 5px;
		left: 20.5%;
	}
}
@media screen and (max-width: 1024px) {
	.socical {
		transition: all 0.2s linear;
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
	}
	.button {
		width: 11rem;
		height: 2.5rem;
	}
	.button__waiting {
		width: 13rem;
		height: 2.5rem;
	}
	.heading {
		font-size: 2.5rem;
		width: 58%;
		height: 45px;
		top: 5px;
		left: 21%;
	}
	.new.dropdown {
		position: relative;
		z-index: 99999;
	}
}
@media screen and (max-width: 920px) {
	.socical {
		transition: all 0.2s linear;
		padding: 5rem 1rem 0 1rem;
		display: grid;
		grid-template-columns: 0.5fr 3.5fr 1.5fr;
	}
	.socical--logo {
		width: 10rem;
		height: 3.5rem;
		position: absolute;
		content: "";
		left: 1rem;
		top: 3rem;
	}
	.socical .category__text {
		display: none;
	}
	.socical .infor {
		display: none;
	}
	.heading {
		font-size: 2.5rem;
		width: 62.5%;
		height: 45px;
		top: 5px;
		left: 10%;
	}
	.new.dropdown {
		position: relative;
		z-index: 99999;
		margin-left: 0rem;
	}
	
}
@media screen and (max-width: 480px) {
	.socical {
		transition: all 0.2s linear;
		display: grid;
		grid-template-columns: 3.5fr 1fr;
	}
	.socical .category {
		position: absolute;
		content: "";
		top: 16px;
		left: 85px;
		padding: 0;
		font-size: 2rem;
		width: 59%;
	}
	.socical .category-bar {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: row;
		flex-wrap: nowrap;
		width: 100%;
	}
	.socical .category__wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.socical .category-item {
		width: 25%;
	}
	.socical .box__image {
		width: 2rem;
		height: 2rem;
	}
	.socical .ui.grid > .column:not(.row),
	.socical .ui.grid > .row > .column {
		position: relative;
		display: inline-block;
		width: 6.25%;
		padding-left: 0px;
		padding-right: 0px;
		vertical-align: top;
	}
	.heading {
		display: none;
	}
	.button {
		width: 7rem;
		height: 2.5rem;
	}
	.ui.grid > .row {
		display: inline-block;
		padding: 1rem 0px 0px 1rem;
	}
	.recomment {
		height: 15rem;
	}
	.show_setting {
		position: relative;
		z-index: 99999;
	}
	.dropdownP {
		top: 0.5rem;
		left: 90%;
	}
	.new.dropdown {
		position: relative;
		z-index: 99999;
		margin-left: 0rem;
		width: 180%;
		background-color: rgba(170, 180, 180);
	}
	.item_setting{
		position: relative;z-index:99999 ;
	}
}
@media screen and (max-width: 320px) {
	.socical {
		transition: all 0.2s linear;
	}
	.socical--logo {
		display: none;
	}
	.socical .category {
		position: absolute;
		content: "";
		top: 16px;
		left: 1rem;
	}
	.socical .category__wrapper {
		width: 130%;
	}
	.new.dropdown {
		position: relative;
		z-index: 99999;
		margin-left: 0rem;
		background-color: rgba(170, 180, 180)
	}
}
